# 라이브러리 불러오기

In [ ]:
import numpy as np
import pandas as pd
from lightgbm import LGBMClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
## 데이터 불러오기
train = pd.read_csv('/content/drive/My Drive/open_data/train.csv')
test = pd.read_csv('/content/drive/My Drive/open_data/test.csv')
submission = pd.read_csv('/content/drive/My Drive/open_data/sample_submission.csv')
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36325 entries, 0 to 36324
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          36325 non-null  int64
 1   Q1             36325 non-null  int64
 2   Q2             36325 non-null  int64
 3   Q3             36325 non-null  int64
 4   Q4             36325 non-null  int64
 5   Q5             36325 non-null  int64
 6   Q6             36325 non-null  int64
 7   Q7             36325 non-null  int64
 8   Q8             36325 non-null  int64
 9   Q9             36325 non-null  int64
 10  Q10            36325 non-null  int64
 11  Q11            36325 non-null  int64
 12  Q12            36325 non-null  int64
 13  Q13            36325 non-null  int64
 14  Q14            36325 non-null  int64
 15  Q15            36325 non-null  int64
 16  Q16            36325 non-null  int64
 17  Q17            36325 non-null  int64
 18  Q18            36325 non-null  int64
 19  Q19            36325 non-null  int64
 20  Q20            36325 non-null  int64
 21  Q21            36325 non-null  int64
 22  Q22            36325 non-null  int64
 23  Q23            36325 non-null  int64
 24  Q24            36325 non-null  int64
 25  Q25            36325 non-null  int64
 26  Q26            36325 non-null  int64
 27  country        36322 non-null  object
 28  introelapse    36325 non-null  int64
 29  testelapse     36325 non-null  int64
 30  surveyelapse   36325 non-null  int64
 31  TIPI1          36325 non-null  int64
 32  TIPI2          36325 non-null  int64
 33  TIPI3          36325 non-null  int64
 34  TIPI4          36325 non-null  int64
 35  TIPI5          36325 non-null  int64
 36  TIPI6          36325 non-null  int64
 37  TIPI7          36325 non-null  int64
 38  TIPI8          36325 non-null  int64
 39  TIPI9          36325 non-null  int64
 40  TIPI10         36325 non-null  int64
 41  VCL1           36325 non-null  int64
 42  VCL2           36325 non-null  int64
 43  VCL3           36325 non-null  int64
 44  VCL4           36325 non-null  int64
 45  VCL5           36325 non-null  int64
 46  VCL6           36325 non-null  int64
 47  VCL7           36325 non-null  int64
 48  VCL8           36325 non-null  int64
 49  VCL9           36325 non-null  int64
 50  VCL10          36325 non-null  int64
 51  VCL11          36325 non-null  int64
 52  VCL12          36325 non-null  int64
 53  VCL13          36325 non-null  int64
 54  VCL14          36325 non-null  int64
 55  VCL15          36325 non-null  int64
 56  VCL16          36325 non-null  int64
 57  education      36325 non-null  int64
 58  urban          36325 non-null  int64
 59  gender         36325 non-null  int64
 60  engnat         36325 non-null  int64
 61  age            36325 non-null  int64
 62  screenw        36325 non-null  int64
 63  screenh        36325 non-null  int64
 64  hand           36325 non-null  int64
 65  religion       36325 non-null  int64
 66  orientation    36325 non-null  int64
 67  voted          36325 non-null  int64
 68  married        36325 non-null  int64
 69  familysize     36325 non-null  int64
 70  major          20505 non-null  object
 71  race_arab      36325 non-null  int64
 72  race_asian     36325 non-null  int64
 73  race_black     36325 non-null  int64
 74  race_white     36325 non-null  int64
 75  race_hispanic  36325 non-null  int64
 76  race_nativeam  36325 non-null  int64
 77  race_nativeau  36325 non-null  int64
 78  race_other     36325 non-null  int64
 79  ASD            36325 non-null  int64
 80  nerdiness      36325 non-null  int64
dtypes: int64(79), object(2)
memory usage: 22.4+ MB

## 데이터 전처리

In [ ]:
target = train['nerdiness']
train.drop(['nerdiness'], axis=1, inplace=True)
all_data = pd.concat([train, test], axis=0)
print(all_data.shape)
all_data.head()

(50452, 80)

   index  Q1  Q2  Q3  ...  race_nativeam  race_nativeau  race_other  ASD
0      0   4   2   4  ...              0              0           0    2
1      1   5   5   4  ...              0              0           0    2
2      2   3   3   4  ...              0              1           0    2
3      3   4   5   3  ...              0              0           0    2
4      4   3   5   4  ...              0              0           0    2

[5 rows x 80 columns]

In [ ]:
all_data.loc[all_data['gender'] == 0, 'gender'] = 2
all_data.loc[all_data['married'] == 0, 'married'] = 1
all_data.loc[all_data['ASD'] == 0, 'ASD'] = 2
all_data.loc[all_data['education'] == 0, 'education'] =\
    all_data['education'].mode()[0]
all_data.loc[all_data['voted'] == 0, 'voted'] =\
    all_data['voted'].mode()[0]
all_data.loc[all_data['urban'] == 0, 'urban'] =\
    all_data['urban'].mode()[0]
all_data.loc[all_data['orientation'] == 0, 'orientation'] =\
    all_data['orientation'].mode()[0]
all_data.loc[all_data['religion'] == 0, 'religion'] =\
    all_data['religion'].mode()[0]
all_data.loc[all_data['engnat'] == 0, 'engnat'] =\
    all_data['engnat'].mode()[0]
all_data.loc[all_data['familysize'] > 7, 'familysize'] =\
    all_data['familysize'].mode()[0]
all_data.loc[all_data['age'] > 6, 'age'] = all_data['familysize'].mode()[0]


train = all_data.iloc[:train.shape[0]]
test = all_data.iloc[train.shape[0]:]

In [ ]:
country_map = {i: c for i, c in enumerate(train['country'].unique())}
major_map = {i: c for i, c in enumerate(train['major'].unique())}


train['country'] = train['country'].map(country_map)
test['country'] = test['country'].map(country_map)

train['major'] = train['major'].map(major_map)
test['major'] = test['major'].map(major_map)

train = train.fillna(0)
test = test.fillna(0)

In [ ]:
x_train = train.loc[:, 'Q1':'ASD']
y_train = target

x_test = test.loc[:, 'Q1':'ASD']



X_train, X_test, y_train, y_test =\
    train_test_split(train, target, test_size=0.3, random_state=2020)

In [ ]:
rf_clf = RandomForestClassifier()
rf_clf.fit(X_train, y_train)
rf_pred = rf_clf.predict_proba(X_test)[:, 1]
roc_auc_score(y_test, rf_pred)

0.9392790118618555

In [ ]:
lgbm_clf = LGBMClassifier()
lgbm_clf.fit(X_train, y_train)
lgbm_pred = lgbm_clf.predict_proba(X_test)[:, 1]
roc_auc_score(y_test, lgbm_pred)

0.8383629524443555

In [ ]:
rf_clf = RandomForestClassifier(n_estimators=713)
rf_clf.fit(X_train, y_train)
rf_pred = rf_clf.predict_proba(X_test)[:, 1]
roc_auc_score(y_test, rf_pred)

0.9425038615799847

In [ ]:
# lgbm 분류기
lgbm_clf = LGBMClassifier(
            n_estimators=1000,
            learning_rate=0.02,
            random_state=94,
            max_depth=11,
            num_leaves=573,
            min_child_samples=10,
            subsample=0.76,
            colsample_bytree=0.52,
            max_bin=449,
            reg_lambda=0.07,
            reg_alpha=0.28
        )
lgbm_clf.fit(X_train, y_train)
lgbm_pred = lgbm_clf.predict_proba(X_test)[:, 1]
roc_auc_score(y_test, lgbm_pred)

0.9353186719007063

In [ ]:
y_preds = 0.12* lgbm_pred + 0.88 * rf_pred
roc_auc_score(y_test, y_preds)

0.9428315014741233

In [16]:
lgbm_clf.fit(train, target)
lgbm_pred = lgbm_clf.predict_proba(test)[:, 1]
rf_clf.fit(train, target)
rf_pred = rf_clf.predict_proba(test)[:, 1]
y_pred =  0.2* lgbm_pred + 0.8 *rf_pred
submission['nerdiness'] = y_pred
submission.to_csv('weight_ensemble.csv', index=False)